@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Nunito:wght@200;300;400;600;700&family=Roboto:wght@400;500;700&display=swap');

:root{
  --green:#27ae60;
  --black:#192a56;
  --light-color:#666;
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
  font-family: 'Nunito', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none; border: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body{
  background: #ddd;
  min-height: 85vh;
  vertical-align: middle;
  display: flex;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 15vh;
}

header{
  position: fixed;
  top:0; left: 0; right: 0;
  background: #fff;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
  height: 8vh;
}

header .logo{
  color:var(--black);
  font-size: 2rem;
  font-weight: bolder;
}

header .logo i{
  color: var(--green);
}

header .icons a i{
  cursor: pointer;
  margin-left: .5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  width: 3.5rem;
  text-align: center;
  font-size: 1.4rem;
  color: var(--black);
  border-radius: 50%;
  background-color: #eee;
}

header .icons a i:hover{
  color: #fff;
  background-color: var(--green);
  transform: rotate(360deg);
}

/* cart section */
.title{
  margin-bottom: 2vh;
  color: var(--black);
}
.card{
  margin: auto;
  max-width: 1200px;
  width: 90%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
  margin-bottom: 10vh;
}
.row{
  display: grid;
  grid-template-columns: 2fr 1.5fr;
}

.item-row,
.price-row,
.summary-row{
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}
.item-row div{
  font-size: 1.5rem;
  line-height: 1.4rem;
}
.item-count{
  color: #666;
}
.cart{
  background-color: #fff;
  padding: 4vh 5vh;
  border-bottom-left-radius: 1rem;
  border-top-left-radius: 1rem;
}

.summary{
  background-color: #ddd;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  padding: 4vh;
  color: rgb(65, 65, 65);
}

.main{
  margin: 0;
  padding: 2vh 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img{
  width: 5rem;
  height: 5rem;
  object-fit: contain;
}
.product-brand{
  font-size: .8rem;
  color: #666;
}
.product-name{
  font-size: 1rem;
}
.price{
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
.price i{
  color: red;
  font-weight: 900;
  font-size: 1.5rem;
}

a{
  padding: 0 1vh;
  font-size: 1rem;
}
.close{
  margin-left: auto;
  font-size: 1.5rem;
}

.back-to-shop{
  margin-top: 4.5rem;
}

.summary-txt{
  font-size: 1.5rem;
}
h5{
  margin-top: 4vh;
}
hr{
  margin-top: 1.25rem;
}
form{
  padding: 2vh 0;
}
select{
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1.5vh 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}
input{
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: rgb(247, 247, 247);
}
input:focus::-webkit-input-placeholder
{
    color:transparent;
}
.btn{
  background-color: #000;
  border-color: #000;
  color: white;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 4vh;
  padding: 1vh;
  border-radius: 0;
}
.btn:focus{
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none; 
}
.btn:hover{
  color: white;
}
a{
  color: black; 
}
a:hover{
  color: black;
  text-decoration: none;
}
































/* media queries */

@media (max-width:991px){

  html{
    font-size: 55%;
  }
  header{
    padding: 1rem 2rem;
  }
  section{
    padding: 2rem;
  }
  .row{
    grid-template-columns: 100%;
  }
  .cart{
    padding: 2vh 3vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
  }

}

@media (max-width:768px){

  header .navbar{
    position: absolute;
    top:100%; left:0; right:0;
    background: #fff;
    border-top: .1rem solid rgba(0,0,0,.2);
    border-bottom: .1rem solid rgba(0,0,0,.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a{
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background: #eee;
  }
  .item-row,
  .price-row,
  .summary-row,
  .summary-txt{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
  }
  .product-brand{
    font-size: 1.6rem;
  }
  .product-name{
    font-size: 1.8rem;
  }
  .price{
    font-size: 1.8rem;
  }
  .price i{
    font-size: 2rem;
  }
  
  a{
    padding: 0 1vw;
    font-size: 1.6rem;
  }
  .close{
    margin-left: auto;
    font-size: 2rem;
  }
  .summary{
    border-top-right-radius: 0;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 1rem;
  }
  p{
    font-size: 1.5rem;
  }
  
}


@media (max-width:450px){

  html{
    font-size: 50%;
  }
  


}