@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Nunito:wght@200;300;400;600;700&family=Roboto:wght@400;500;700&display=swap');

@import url("https://rsms.me/inter/inter.css");

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
}


:root{
  --green:#27ae60;
  --black:#192a56;
  --light-color:#666;
  --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
  --color-gray: #737888;
  --color-lighter-gray: #e3e5ed;
  --color-light-gray: #f7f7fa;
}

*{
  font-family: 'Nunito', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  transition: all .2s linear;
  text-decoration: none;
}

html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body{
  background: #ddd;
  vertical-align: middle;
  display: flex;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 5vh 0;
  justify-content: center;
}


header{
  position: fixed;
  top:0; left: 0; right: 0;
  background: #fff;
  padding: 1rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: var(--box-shadow);
  height: 8vh;
}

header .logo{
  color:var(--black);
  font-size: 2rem;
  font-weight: bolder;
}

header .logo i{
  color: var(--green);
}

header .icons a i{
  cursor: pointer;
  margin-left: .5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  width: 3.5rem;
  text-align: center;
  font-size: 1.4rem;
  color: var(--black);
  border-radius: 50%;
  background-color: #eee;
}

header .icons a i:hover{
  color: #fff;
  background-color: var(--green);
  transform: rotate(360deg);
}

.cart{
  margin-top: 10vh;
  display: grid;
  grid-template-columns: 1fr .8fr;
  width: 70vw;
  background-color: rgb(246, 246, 246);
  box-shadow: var(--box-shadow);
}

.cart-left{
  background-color: #fff;
  padding: 2rem 2rem;
  padding-right: 0;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart-left a{
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-top: 3rem;
  width: 100%;
  padding-left: 2rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.rndm-pd{
  padding-right: 2rem;
}
.cart-container{
  width: 100%;
}
.cart-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.cart-div h2{
  font-size: 1.6rem;
  color: var(--black);
  margin-bottom: 2rem;
}
.cart-div p{
  font-size: 1rem;
  color: var(--light-color);
}
.cart-div img{
  width: 8rem;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.cart-div h4{
  font-size: 1.2rem;
}
.cart-div span{
  font-size: 1rem;
  height: 60%;
  display: flex;
  align-items: center;
  column-gap: 1rem
}
.cart-div span button{
  background-color: #fff;
  border: none;
  border-left: 1px solid lightgrey;
  height: 100%;
  width: 5rem;
}
.cart-div span i{
  cursor: pointer;
}

.cart-div span button i{
  font-size: 1.2rem;
}
.cart-div span button i:hover{
  font-size: 1.4rem;
  color: red;
  background-color: #ddd;
}

.cart-right{
  padding: 6rem 3rem;
}
.cart-right h2{
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.cart-div h5,
.cart-div h6,
.cart-div a{
  font-size: 1rem;
  color: var(--light-color);
  margin-bottom: .7rem;
}

.cart-div h6,
.cart-div a{
  padding-top: 1.5rem;

}

.total-top{
  border-top: 1px solid lightgray;
  margin-bottom: 2rem;
}

/* form start */
.form {
  display: grid;
  grid-gap: 1rem;
  width: 100%;
}
.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--light-color);
  padding: .5rem;
  border-radius: .25rem;
  background-color: #fff;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.field__label {
  color: var(--light-color);
  background-color: transparent;
  border: none;
  font-size: 0.8rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0.25rem
}

.field__input {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  font-weight: bold;
  font-size: 1rem;
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
}
.fields {
  display: grid;
  grid-gap: 1rem;
}


.button {
  background-color: #000;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  display: block;
  color: #fff;
  width: 100%;
  padding: 1rem;
  border-radius: 0.25rem;
  border: 0;
  cursor: pointer;
  outline: 0;
}
.button:focus-visible {
  background-color: #333;
}



























/* media queries */

@media (max-width:991px){

  html{
    font-size: 55%;
  }
  header{
    padding: 1rem 2rem;
  }
  section{
    padding: 2rem;
  }
  .row{
    grid-template-columns: 100%;
  }
  .cart{
    padding: 2vh 3vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
  }

}

@media (max-width:768px){

  header .navbar{
    position: absolute;
    top:100%; left:0; right:0;
    background: #fff;
    border-top: .1rem solid rgba(0,0,0,.2);
    border-bottom: .1rem solid rgba(0,0,0,.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

  header .navbar a{
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background: #eee;
  }
  .item-row,
  .price-row,
  .summary-row,
  .summary-txt{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
  }
  .product-brand{
    font-size: 1.6rem;
  }
  .product-name{
    font-size: 1.8rem;
  }
  .price{
    font-size: 1.8rem;
  }
  .price i{
    font-size: 2rem;
  }
  
  a{
    padding: 0 1vw;
    font-size: 1.6rem;
  }
  .close{
    margin-left: auto;
    font-size: 2rem;
  }
  .summary{
    border-top-right-radius: 0;
    border-bottom-right-radius: 1rem;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 1rem;
  }
  p{
    font-size: 1.5rem;
  }
  
}


@media (max-width:450px){

  html{
    font-size: 50%;
  }
  


}